body {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(101, 126, 148);
    color: rgb(206, 216, 224);
    overflow-y: auto;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.app {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    padding-top: 70px;
    row-gap: 15rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  rgb(101, 126, 148);
}

.navigation {
    justify-content: center;
    position: fixed;
    min-width: 100%;
    top: 0;
    z-index: 1000;
    margin-top: 0;
    border-bottom: solid rgb(64, 85, 112) 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

ul li a {
    display: block;
    color: rgb(206, 216, 224);
    padding: 0.8rem 0.9rem;
    text-decoration: none;
    font-size: 1.5rem;
}

ul li a:hover {
    color: rgb(62, 88, 109);
}

li.name {
    margin-right: auto;
}

li.name a{
    display: flex;
    justify-content: flex-start;
    color: rgb(206, 216, 224);
}


.section-name {
    width: 100%;
    margin-bottom: 3rem;
}

.section-name h1 {
    display: flex;
    align-items: center;
}

.section-name h1::before{
    content: "";
    flex: 1;
    border-top: solid rgb(64, 85, 112) 2px;
    margin-right: 5px;
}

.section-name h1::after{
    content: "";
    flex: 1;
    border-top: solid rgb(64, 85, 112) 2px;
    margin-left: 7px;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    flex-direction: row;
    align-items: center;
    min-height: 60vh;
}

.home-intro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.home-something {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;;
}

.about-text {
    display: flex;
    grid-column: 1;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.about-photo-container {
    grid: 2;
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.about-photo {
    height: 400px;
    width: 400px;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bebe {
    background-color: transparent;
}