body {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(101, 126, 148);
    color: rgb(206, 216, 224);
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Space Grotesk', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.app {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    padding-top: 70px;
    row-gap: 15rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  rgb(101, 126, 148);
}

.navigation {
    justify-content: center;
    position: fixed;
    min-width: 100%;
    top: 0;
    z-index: 1000;
    margin-top: 0;
    border-bottom: solid rgb(64, 85, 112) 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

ul li a {
    display: block;
    color: rgb(206, 216, 224);
    padding: 0.8rem 0.9rem;
    text-decoration: none;
    font-size: 1.5rem;
}

ul li a:hover {
    color: rgb(62, 88, 109);
}

li.name {
    margin-right: auto;
}

li.name a{
    display: flex;
    justify-content: flex-start;
    color: rgb(206, 216, 224);
}


.section-name {
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.section-name h1 {
    display: flex;
    align-items: center;
}

.section-name h1::before{
    content: "";
    flex: 1;
    border-top: solid rgb(64, 85, 112) 2px;
    margin-right: 5px;
}

.section-name h1::after{
    content: "";
    flex: 1;
    border-top: solid rgb(64, 85, 112) 2px;
    margin-left: 7px;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    flex-direction: row;
    margin-top: 15rem;
    align-items: center;
}

.home h1 {
    font-size: 3rem;
    font-weight: 900;
}

.home-intro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-weight: 700;
}

.home-something {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
}

.about-text {
    display: flex;
    grid-column: 1;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0 auto;
}

.about-photo-container {
    grid: 2;
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.about-photo {
    height: 400px;
    width: 400px;
    border-radius: 7px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.about-photo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.techs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.techs li {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.tech-span {
    background-color: rgb(64, 85, 112);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.dash {
    font-weight: 900;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.project-card {
    width: 80%;
    height: 200px;
    background-color: rgb(64, 85, 112);
    border-radius: 7px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.used-techs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 0.5rem;
}



.canvas {
    background-color: transparent;
}